  *{
    font-family: 'Itim', cursive;

  }
  /*gallery - images */
  .container{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
    margin: 0px 100px 100px 100px;
    flex-wrap: wrap;
    direction: rtl;
}
.gallery-item {
  
  background-position: center center;
  background-size: cover;
  margin: 10px;
  flex-flow: row;
  float:right;
  width: 400px;
  height: 300px;
  position: relative;
}

.gallery-item:hover {
    border: 0.5px solid violet;
}
.gallery-item.image-style{
    width: 100%;
    height: auto;
}
.gallery-item img {
  width: 100%;
  height: auto;
  max-height: min-content;
  cursor: pointer;
}

.gallery-item.image-style img{
    transition: .10s ease-in-out;
    transform: scale(1.2);
}

.desc {
  padding: auto;
  margin: 230px 50px 50px 50px ;
  text-align: center;
  font-weight: lighter;
  color: violet;
}

.desc h1:hover{
    color:white;
}

@media screen and (max-width: 600px) {
    .container{
        display: flex;
        align-items:center;
        justify-content: center;
    }
    .gallery-item {
        border: 0.5px solid #ccc;
        width: 300px;
        height: auto;
        position: relative;
      }
}

  