  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Itim', cursive;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  .header-area {
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5)),
    url(https://images.unsplash.com/photo-1528353518104-dbd48bee7bc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80);
    background-position: center center;
    background-size: cover;
  }


  .container-intro {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
  }

  /* intro-area css start */
.intro-area {
  height: calc(100vh - 61px);
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

@keyframes text-animation{
  from {color: black;}
  to {color: white;}
}
.intro-area h2 {
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  margin-bottom: 25px;
  animation-name: text-animation;
  animation-duration: 1s;
}
.intro-area p {
  font-size: 18px;
}
/* intro-area css end */

  
  @media screen and (max-width: 600px) {
      .container{
          display: flex;
          align-items:center;
          justify-content: center;
      }
      .gallery-item {
          border: 0.5px solid #ccc;
          width: 300px;
          height: auto;
          position: relative;
        }
        .container-intro {
          max-width: 720px;
        }
        .intro-area h2 {
          font-size: 36px;
          margin-bottom: 15px;
        } 
  }

    
  
  