.score-continer{
    margin: 30px auto;
    padding: auto;
}
.points{
    margin: 80px auto;
    font-size: 25px;
    text-align: center;
    color: white;
}
.score-bar{
    margin: 0 auto;
    text-align: center;
}
.score-bar progress{
    width: 900px;
    height: 70px;
}

.score-number{
    color:violet;
}

.rating-stars{
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    font-size: 65px;
}
.checked {
    color: plum;
  }
 
  