.score-continer{
    margin: 0px auto;
    padding: auto;
}
.points{
    margin: 80px auto;
    font-size: 25px;
    text-align: center;
    color: white;
}
.score-bar{
    margin: 0 auto;
    text-align: center;
}
.score-bar progress{
    width: 900px;
    height: 70px;
}

.score-number{
    color:violet;
}

.game{
    margin: 50px auto;
    text-align: center;
}

.game-title{
    color: plum;
    padding: 15px;
    font-size: 20px;
}
.score-number-per-game{
    font-size: 25px;
    color: white;

}

.rating-stars{
    margin: 70px auto;
    margin-bottom: 120px;
    text-align: center;
    font-size: 65px;
}
.checked {
    color: orange;
}
 
  