*{
    font-family: 'Itim', cursive;

}

.container {
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 600px;
    max-height: 600px;
}
.tile {
    border: 1px solid white;
    min-width: 120px;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    cursor: pointer;
}
.playerX {
    color: rgb(235, 82, 235);
}

.playerO {
    color: #498AFB;
}

.Tic-Tac-Toe-title{
    font-size: 50px;
    color:rgb(250, 198, 250);;
    text-align: center;
}

.Tic-Tac-Toe-title h1:hover{
    color:white;
}
.controls{
    margin: 20px;
}
.controls button{
    font-size: 25px;
    margin: 10px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    background-color: rgb(250, 198, 250);
}

.announcer{
    margin: 20px;
    font-size: 25px;
}

.display{
    margin-bottom: 50px;
    font-size: 30px;
}
.display-player{
    font-size: 40px;
}


